/* styles.css */

/* Estilo personalizado para el contenido */
.custom-content {
    background-color: #f0f0f0; /* Cambia el color de fondo a gris claro */
    padding: 20px; /* Agrega un espacio interno de 20px */
  }
  
  /* Estilo personalizado para los botones */
  .custom-button {
    text-align: center; /* Centra los botones */
    margin: 10px 0; /* Agrega margen superior e inferior de 10px */
  }
  
  ion-button {
    background-color: #005f5f; /* Cambia el color de fondo a azul */
    color: #fff; /* Cambia el color del texto a blanco */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    font-size: 20px;
  }
  
  ion-button:hover {
    background-color: #52c3c3; /* Cambia el color de fondo en el hover */
  }
  /* styles.css */

/* Estilo para el contenedor central */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Establece la altura al 100% del contenedor padre (ion-content) */
  }
  .custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Otros estilos se mantienen iguales */
  